html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: "Bevan", cursive;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #595652;
  margin: 0 auto;
  padding-top: .2em;
  padding-bottom: .2em;
}

header {
  background-color: #79756f;
  padding: .1em;
}

div {
  background-color: #595652;
  text-align: center;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: "Bevan", cursive;
  line-height: 0;
}

li {
  background-color: #713837;
  color: #fff;
  display: inline-block;
  padding: .4em;
  border-radius: 3px;
  list-style-type: none;
  font-family: sans-serif;
  margin: .3em;
}

a,
a:link {
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #f33;
}
