html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
}

h1 {
  color: #fff;
}

li {
  background-color: #713837;
  color: #fff;
}
