html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  margin: .3em;
}

h1 {
  color: #fff;
  text-align: center;
}

li {
  background-color: #713837;
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  border-radius: 3px;
}

a,
a:link {
  color: #fff;
  text-decoration: none;
}
